 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Digitizing the Past: Exploring the Digital Humanities. </p>
                </div>
                <div class="col-lg-4">
                    <p>SLN 14615, GEN ST 197 1 credit C/NC </p>
<p>This seminar will give students the opportunity to participate in an active and successful Digital Humanities project. Themes include project and data management, sourcing and structuring data, and ‘making things’ with a range of open source digital tools. This process will provide insights into the challenges of working in a digital environment as well as the great potential it offers to interact with data in new ways. Students will have the opportunity to develop strategies for working effectively and collaboratively in a team environment, developing skills valued by employers in every industry.
                     </p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div-->
            </div>
        </div>
    </section>